altgraph==0.17.3
colorama==0.4.6
html5lib==1.1
mechanize==0.4.8
numpy==1.24.2
pefile==2023.2.7
Pillow==9.4.0
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
PyQt6==6.4.2
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
pywin32-ctypes==0.2.0
six==1.16.0
webencodings==0.5.1
