@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
    display: none;
}

.info-btn:hover {
    color: orange;
    transition: .2s ease-in all;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}
