@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */

/* Hide element */
.hidden {
    display: none;
}

/* Prevent text selection */
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Prepare text boundaries for background gradiend */
.gradient-color-text {
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
