@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */

.hidden {
    display: none;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
